<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>

    <div class="topnav">
        <a href="#news">My Top Matches</a>
        <a href = "/daters/home">Home Page</a>
        <div class="search-container">
            <form id = "searchForm">
              <input id = "searchBar" type="text" size = "30" height="30"placeholder="Search By Name.." name="search">
              <button id = "searchButton" type="submit"></button>
            </form>
        </div>
        <a id = "logout" class="active" href="/logout">Logout</a>
        
        </div>
    
    <h1>All Members</h1>
    

    <%allDaters.forEach(dater => {%>


        <div class = "summary">
            <div class = "summaryContent">
                <% if(JSON.stringify(dater._id) === JSON.stringify(yourId)){%>
                <a class = "profileLinks" href = "/daters/loadPage/<%=dater._id%>"><%=dater.name%>   <span class = "light">(You)</span></a>
                <%}else{%>
                <a class = "profileLinks" href = "/daters/loadPage/<%=dater._id%>"><%=dater.name%></a>
                <%}%>
            
        <ul>
            <li class = "lists"><%=dater.age%></li>
            <li class = "lists"><%=dater.location%></li>

            <% if(yourInterests.includes(dater.gender) && dater.name !== yourName){%>
            <li class = "lists">Compatibility: <span class = "bold"><%=Math.floor(dater.compatibilityToCurrUser*100) ;%>%</span></li>
            <%}%>
            <% if(JSON.stringify(dater._id) != JSON.stringify(yourId)){%>

            <li class = "lists"><a href = "/daters/show/messages/<%=dater._id%>">See Our Messages</a></li>

            <%}%>
        </ul>
            </div>
        <img class = "miniPhotos" width = "150" height = "100" src ="../../<%=dater.profilePic%>" alt = "No Photo On Record!">
        </div>
        <%})%>


</body>
</html>