<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>

    <div class="topnav">
        <a href="/daters/new/BasicsEdit">Update Info</a>
        <a href = "/daters/home">Home Page</a>


        <div class="search-container">
            <form id = "searchForm">
              <input id = "searchBar" type="text" size = "30" height="30"placeholder="Just for show.." name="search">
              <button id = "searchButton" type="submit"></button>
            </form>
        </div>
        <a id = "logout" class="active" href="/logout">Logout</a>
        
        </div>
    
    <h1 class = "centerMe">All Members</h1>


    <div id="flexContainer">

                    
       
    <%allDaters.forEach(dater => {%>


        <div class = "profileRectangles">
            <br>
            <% if(JSON.stringify(dater._id) === JSON.stringify(yourId)){%>
                <a class = "profileLinks" href = "/daters/loadPage/<%=dater._id%>"><%=dater.name.slice(0,dater.name.indexOf(' '))%><span class = "light"> (You)</span></a>
                <%}else{%>
                <a class = "profileLinks" href = "/daters/loadPage/<%=dater._id%>"><%=dater.name.slice(0,dater.name.indexOf(' '))%></a>
                <%}%><br><br>
            <div id = "imgBorder">
                
                
                    <img class = "mainPhoto" src = "<%=dater.profilePic%>" alt = "No Photo On Record!">
                
            </div>
            <div id = "fastFactsBorder">
              <div id = "profileFastFacts">
                <ul>
                  <li class = "lists">Age: <%=dater.age%></li>
                  <li class = "lists">Location: <%=dater.location%></li>
                  <li class = "lists"><a href = "/daters/show/messages/<%=dater._id%>">Our Messages</a></li>
                  <% if(yourInterests.includes(dater.gender) && dater.name !== yourName){%>
                    <li class = "lists">Compatibility: <span class = "bold"><%=Math.floor(dater.compatibilityToCurrUser*100) ;%>%</span></li>
                    <%}%>
                </ul>
            </div>
            </div>
          </div>


        <%})%>


    </div>



</body>
</html>